@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
/* reset della pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali */
body {
  font-family: Montserrat, sans-serif;
  /* padding: 0 20%; */
}
header {
  height: 500px;
  background-color: #003366;
  /* debug */
}
a {
  text-decoration: none;
}
.h-container,
.s-container {
  padding: 0 20%;
}
.buttons, .logins {
  background-color: #66cc00;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.logins {
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px solid #fff;
  padding: 5px 20px;
}
/* debug */
.box {
  background-color: blue;
  height: 100%;
}

/* barra di navigazione */
.navigation-bar {
  height: 100px;
  padding: 10px 0;
  font-size: 10px;
  color: #fff;
  /* debug */
  /* background-color: yellow; */
}
.navigation-bar:after {
  content: "";
  display: table;
  clear: both;
}
/* elementi all'interno della barra di navigazione */
.h-logo,
.h-nav,
.h-nav-right {
  /* line-height: 100px; */
  float: left;
}
/* logo */
.h-logo {
  width: 15%;
}
/* navbar centrale */
.h-nav {
  width: 45%;
  line-height: 50px;
}
/* navbar di destra */
.h-nav-right {
  width: 40%;
  text-align: right;
  line-height: 50px;
}

ul.inline-menu {
  list-style-type: none;
  overflow: hidden;
}

li.inline-menu-item {
  float: left;
}

li.inline-menu-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 0 10px;
}

li.inline-menu-item a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.inline-menu .logins {
  margin: 0 20px;
}


/* jumbotron */
.h-jumbotron {
  position: relative;
  height: 400px;
  background-image: url("../fluentify-imgs/fluentify-jumbo.png");
  background-size: 960px;
  background-repeat: no-repeat;
  background-position: 130%;
  /* debug */
  /* background-color: red; */
}
.h-jumbotron .h-jumbotron-group {
  position: absolute;
  left: 0;
  top: 20%;
  width: 50%;

}
.h-jumbotron-group h1 {
  color: #fff;
  font-size: 40px;
}
.h-jumbotron-group .buttons {
  padding: 15px;
  margin: 20px 0;
}

/* Sezione 1 */
#section1 {
  height: 100px;
  background-color: lightgrey;
}

/* Sezione 2 */
#section2 {
  height: 300px;
  padding: 0 25%;
  /* debug */
  /* background-color: green; */
}

/* Sezione 3 */
#section3 {
  height: 300px;
  padding: 0 25%;
  /* debug */
  /* background-color: pink; */
}

/* Sezione 4 */
#section4 {
  height: 100px;
  background-color: lightgrey;
}
